<h2>Phone</h2>
<p>Get in touch by phone!</p>
<p><strong>1-800-555-5555</strong></p>
<p><small>Open Monday to Friday, 9am - 5pm</small></p>

<h2>Email</h2>
<p>Send us a message!</p>
<form #contactForm="ngForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
  <div>
    <label for="subject">Subject</label>
    <select name="subject" id="subject-select" ngModel>
      <option value="help needed">Help Needed</option>
      <option value="general question">General Question</option>
      <option value="complaint">Complaint</option>
    </select>
  </div>
  <div>
    <label for="email">Email Address</label>
    <input name="email" type="email" ngModel>
  </div>
  <div>
    <label for="message">Message</label>
    <textarea name="message" ngModel cols="30" rows="10" placeholder="Write your message"></textarea>
  </div>
  <label><input type="checkbox" name="optIn" ngModel> Sign me up for the mailing list!</label>
  <button type="submit">Submit</button>
</form>
<button (click)="onContactFormClear()">Clear</button>

